<a href="https://colab.research.google.com/github/Simran085/ML_LAB_ASS_102216115/blob/main/ML_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving AWCustomers.csv to AWCustomers.csv

In [2]:
import pandas as pd
df = pd.read_csv('AWCustomers.csv')

In [18]:
# Display the column names in your DataFrame
# (The to_string() method will display the entire DataFrame as a string without truncation.)
print(df.head().to_string())

   CustomerID Title FirstName MiddleName  LastName Suffix            AddressLine1 AddressLine2         City    StateProvinceName CountryRegionName PostalCode          PhoneNumber   BirthDate        Education      Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome LastUpdated
0       21173   NaN      Chad          C      Yuan    NaN      7090 C. Mount Hood          NaN   Wollongong      New South Wales         Australia       2500  1 (11) 500 555-0115  13-11-1987        Bachelors        Clerical      M             M              1                3                     0              1         81916  06-03-2017
1       13249   NaN      Ryan        NaN     Perry    NaN     3651 Willow Lake Rd          NaN      Shawnee     British Columbia            Canada    V9B 2C3         787-555-0136  21-07-1972  Partial College        Clerical      M             M              1                2                     1              2         81076  06-03-2017
2       29350   NaN     Julia        NaN  Thompson    NaN  1774 Tice Valley Blvd.          NaN  West Covina           California     United States      91791         120-555-0111  09-11-1985        Bachelors        Clerical      F             S              0                3                     0              0         86387  06-03-2017
3       13503   NaN  Theodore        NaN     Gomez    NaN         2103 Baldwin Dr          NaN    Liverpool              England    United Kingdom     L4 4HB  1 (11) 500 555-0167  18-10-1977  Partial College  Skilled Manual      M             M              1                2                     1              2         61481  06-03-2017
4       22803   NaN  Marshall          J      Shan    NaN         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen           Germany      59368  1 (11) 500 555-0113  05-02-1975  Partial College  Skilled Manual      M             S              1                1                     0              0         51804  06-03-2017

In [7]:
# Part1.a,b.

selected_columns = ['City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'BirthDate','Education', 'Occupation', 'Gender', 'MaritalStatus','HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren','YearlyIncome']

# checking for no of null values present
null = df.isnull().sum()
print(null)

CustomerID                  0
Title                   18260
FirstName                   0
MiddleName               7789
LastName                    0
Suffix                  18358
AddressLine1                0
AddressLine2            18050
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
BirthDate                   0
Education                   0
Occupation                  0
Gender                      0
MaritalStatus               0
HomeOwnerFlag               0
NumberCarsOwned             0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
LastUpdated                 0
dtype: int64

In [20]:
df_selected = df[selected_columns]
print(df_selected.head().to_string())

          City    StateProvinceName CountryRegionName PostalCode   BirthDate        Education      Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome
0   Wollongong      New South Wales         Australia       2500  13-11-1987        Bachelors        Clerical      M             M              1                3                     0              1         81916
1      Shawnee     British Columbia            Canada    V9B 2C3  21-07-1972  Partial College        Clerical      M             M              1                2                     1              2         81076
2  West Covina           California     United States      91791  09-11-1985        Bachelors        Clerical      F             S              0                3                     0              0         86387
3    Liverpool              England    United Kingdom     L4 4HB  18-10-1977  Partial College  Skilled Manual      M             M              1                2                     1              2         61481
4        Werne  Nordrhein-Westfalen           Germany      59368  05-02-1975  Partial College  Skilled Manual      M             S              1                1                     0              0         51804

In [27]:
# Q3.c datatype(Discrete/Continuous) & measurement(Nominal, Ordinal, Interval, Ratio) for each attribute in df_selected

df_Types_Scales = {'Attribute': [], 'Type': [], 'Scale': []}

df_Types_Scales['Attribute'].extend(['City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'BirthDate','Education', 'Occupation', 'Gender', 'MaritalStatus','HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren','YearlyIncome'])
df_Types_Scales['Type'].extend(['Discrete', 'Discrete', 'Discrete', 'Discrete', 'Continuous','Discrete', 'Discrete', 'Discrete', 'Discrete','Discrete', 'Discrete', 'Discrete', 'Discrete','Continuous'])
df_Types_Scales['Scale'].extend(['Nominal', 'Nominal', 'Nominal', 'Nominal', 'Interval','Ordinal', 'Nominal', 'Nominal', 'Nominal','Nominal', 'Ratio', 'Ratio', 'Ratio','Ratio'])

# Create a DataFrame to display the information
df_Types_Scales = pd.DataFrame(df_Types_Scales)

# Display the data type and scale information
print(df_Types_Scales.to_string(index=False))

           Attribute       Type    Scale
                City   Discrete  Nominal
   StateProvinceName   Discrete  Nominal
   CountryRegionName   Discrete  Nominal
          PostalCode   Discrete  Nominal
           BirthDate Continuous Interval
           Education   Discrete  Ordinal
          Occupation   Discrete  Nominal
              Gender   Discrete  Nominal
       MaritalStatus   Discrete  Nominal
       HomeOwnerFlag   Discrete  Nominal
     NumberCarsOwned   Discrete    Ratio
NumberChildrenAtHome   Discrete    Ratio
       TotalChildren   Discrete    Ratio
        YearlyIncome Continuous    Ratio

In [28]:
# PartII. a.

# checking for null values
null = df_selected.isnull().sum()
print(null)

City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

In [30]:
# In df_selected there are no colms with null values, so handing the null values in df

# for a col having too many null values, drop it

df = df.drop(columns=['Title', 'Suffix', 'AddressLine2'])
print(df.head().to_string())

   CustomerID FirstName MiddleName  LastName            AddressLine1         City    StateProvinceName CountryRegionName PostalCode          PhoneNumber   BirthDate        Education      Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome LastUpdated
0       21173      Chad          C      Yuan      7090 C. Mount Hood   Wollongong      New South Wales         Australia       2500  1 (11) 500 555-0115  13-11-1987        Bachelors        Clerical      M             M              1                3                     0              1         81916  06-03-2017
1       13249      Ryan        NaN     Perry     3651 Willow Lake Rd      Shawnee     British Columbia            Canada    V9B 2C3         787-555-0136  21-07-1972  Partial College        Clerical      M             M              1                2                     1              2         81076  06-03-2017
2       29350     Julia        NaN  Thompson  1774 Tice Valley Blvd.  West Covina           California     United States      91791         120-555-0111  09-11-1985        Bachelors        Clerical      F             S              0                3                     0              0         86387  06-03-2017
3       13503  Theodore        NaN     Gomez         2103 Baldwin Dr    Liverpool              England    United Kingdom     L4 4HB  1 (11) 500 555-0167  18-10-1977  Partial College  Skilled Manual      M             M              1                2                     1              2         61481  06-03-2017
4       22803  Marshall          J      Shan         Am Gallberg 234        Werne  Nordrhein-Westfalen           Germany      59368  1 (11) 500 555-0113  05-02-1975  Partial College  Skilled Manual      M             S              1                1                     0              0         51804  06-03-2017

In [35]:
# for categorical data(nominal, ordinal) Fill null values with the mode or a placeholder(like unknown)

df['MiddleName'].fillna("Unknown", inplace=True)
df['Occupation'].fillna(df['Occupation'].mode()[0], inplace = True)
print(df.head().to_string())

   CustomerID FirstName MiddleName  LastName            AddressLine1         City    StateProvinceName CountryRegionName PostalCode          PhoneNumber   BirthDate        Education      Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome LastUpdated
0       21173      Chad          C      Yuan      7090 C. Mount Hood   Wollongong      New South Wales         Australia       2500  1 (11) 500 555-0115  13-11-1987        Bachelors        Clerical      M             M              1                3                     0              1         81916  06-03-2017
1       13249      Ryan    Unknown     Perry     3651 Willow Lake Rd      Shawnee     British Columbia            Canada    V9B 2C3         787-555-0136  21-07-1972  Partial College        Clerical      M             M              1                2                     1              2         81076  06-03-2017
2       29350     Julia    Unknown  Thompson  1774 Tice Valley Blvd.  West Covina           California     United States      91791         120-555-0111  09-11-1985        Bachelors        Clerical      F             S              0                3                     0              0         86387  06-03-2017
3       13503  Theodore    Unknown     Gomez         2103 Baldwin Dr    Liverpool              England    United Kingdom     L4 4HB  1 (11) 500 555-0167  18-10-1977  Partial College  Skilled Manual      M             M              1                2                     1              2         61481  06-03-2017
4       22803  Marshall          J      Shan         Am Gallberg 234        Werne  Nordrhein-Westfalen           Germany      59368  1 (11) 500 555-0113  05-02-1975  Partial College  Skilled Manual      M             S              1                1                     0              0         51804  06-03-2017

In [34]:

# for continuous data(interval, ratio): Fill null values with mean, median, or placeholder like 0

df['YearlyIncome'].fillna(df['YearlyIncome'].mean(), inplace = True)
print(df.head().to_string())

   CustomerID FirstName MiddleName  LastName            AddressLine1         City    StateProvinceName CountryRegionName PostalCode          PhoneNumber   BirthDate        Education      Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome LastUpdated
0       21173      Chad          C      Yuan      7090 C. Mount Hood   Wollongong      New South Wales         Australia       2500  1 (11) 500 555-0115  13-11-1987        Bachelors        Clerical      M             M              1                3                     0              1         81916  06-03-2017
1       13249      Ryan    Unknown     Perry     3651 Willow Lake Rd      Shawnee     British Columbia            Canada    V9B 2C3         787-555-0136  21-07-1972  Partial College        Clerical      M             M              1                2                     1              2         81076  06-03-2017
2       29350     Julia    Unknown  Thompson  1774 Tice Valley Blvd.  West Covina           California     United States      91791         120-555-0111  09-11-1985        Bachelors        Clerical      F             S              0                3                     0              0         86387  06-03-2017
3       13503  Theodore    Unknown     Gomez         2103 Baldwin Dr    Liverpool              England    United Kingdom     L4 4HB  1 (11) 500 555-0167  18-10-1977  Partial College  Skilled Manual      M             M              1                2                     1              2         61481  06-03-2017
4       22803  Marshall          J      Shan         Am Gallberg 234        Werne  Nordrhein-Westfalen           Germany      59368  1 (11) 500 555-0113  05-02-1975  Partial College  Skilled Manual      M             S              1                1                     0              0         51804  06-03-2017

In [36]:

# verify if there are no null values

null = df.isnull().sum()
print(null)

CustomerID              0
FirstName               0
MiddleName              0
LastName                0
AddressLine1            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64

In [39]:
# II. b. Normalization
# (Normalization is the process of scaling numerical data to a common range without distorting differences in the ranges of values.)

# finding numerical colms
numerical_colm = df_selected.select_dtypes(include=['int64', 'float64']).columns

print("Numerical cols: ", numerical_colm)

Numerical cols:  Index(['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
       'TotalChildren', 'YearlyIncome'],
      dtype='object')

In [45]:
#  normalize using Min-Max Scaling

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()  #initialse the minMaxScaler

numerical_colms = ['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
       'TotalChildren', 'YearlyIncome']
df_selected[numerical_colms] = scaler.fit_transform(df_selected[numerical_colms])

print(df_selected.head().to_string())

          City    StateProvinceName CountryRegionName PostalCode   BirthDate        Education      Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome
0   Wollongong      New South Wales         Australia       2500  13-11-1987        Bachelors        Clerical      M             M            1.0              0.6              0.000000       0.333333      0.496842
1      Shawnee     British Columbia            Canada    V9B 2C3  21-07-1972  Partial College        Clerical      M             M            1.0              0.4              0.333333       0.666667      0.489453
2  West Covina           California     United States      91791  09-11-1985        Bachelors        Clerical      F             S            0.0              0.6              0.000000       0.000000      0.536172
3    Liverpool              England    United Kingdom     L4 4HB  18-10-1977  Partial College  Skilled Manual      M             M            1.0              0.4              0.333333       0.666667      0.317083
4        Werne  Nordrhein-Westfalen           Germany      59368  05-02-1975  Partial College  Skilled Manual      M             S            1.0              0.2              0.000000       0.000000      0.231958

In [46]:
print(df_selected[numerical_colms].describe().to_string())

       HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome
count   18361.000000     18361.000000          18361.000000   18361.000000  18361.000000
mean        0.610588         0.254060              0.112721       0.283463      0.416254
std         0.487630         0.182798              0.189652       0.309105      0.269933
min         0.000000         0.000000              0.000000       0.000000      0.000000
25%         0.000000         0.200000              0.000000       0.000000      0.245223
50%         1.000000         0.200000              0.000000       0.000000      0.320338
75%         1.000000         0.400000              0.333333       0.666667      0.545171
max         1.000000         1.000000              1.000000       1.000000      1.000000

In [54]:

# normalize yearly income using Z-score normalizn. (Standadization)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

colm = 'YearlyIncome'
df_selected[colm] = scaler.fit_transform(df_selected[[colm]])

df_selected[colm].head()

0    0.298555
1    0.271180
2    0.444261
3   -0.367401
4   -0.682765
Name: YearlyIncome, dtype: float64

In [62]:
# II.c. Discretization (binning) is the process of converting continuous data into discrete bins or intervals.

bins = [0, 40000, 80000, 120000]
labels = ['Low', 'Medium', 'High']

df_selected['IncomeCategory'] = pd.cut(df_selected['YearlyIncome'], bins=bins, labels=labels, include_lowest=True)

print(df_selected[['YearlyIncome', 'IncomeCategory']].head().to_string())

   YearlyIncome IncomeCategory
0      0.298555            Low
1      0.271180            Low
2      0.444261            Low
3     -0.367401            NaN
4     -0.682765            NaN